.catalog {
  background-color: @lightest-gray;
  padding: 50px 20px 44px;
}

.catalog__subtitle {
  .badge();
  text-align: center;
  margin-top: 0;
  margin-bottom: 4px;
}

.catalog__title {
  .title();
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}
