.new-products {
  display: flex;
}

.new-products__slider {
  width: @mobile-width;
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

// Tablet-width slider image offset

.new-products .slider {
  @media (min-width: @tablet-width) and (max-width: (@desktop-width - 1px)) {
    margin-bottom: 188px;
    overflow-y: visible;
  }
}
