.page-footer {
  background-color: @basic-white;
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 40px;
    width: @desktop-width;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
  }
}

.page-footer__block {
  padding: 20px;
  border-bottom: 1px solid @basic-secondary;

  &--links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: -1;
      margin-bottom: 30px;
    }

    @media (min-width: @desktop-width) {
      grid-column: span 1;
      margin-bottom: 30px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 50px;
    }
  }

  @media (min-width: @tablet-width) {
    border-bottom: none;
    padding: 0;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 20px;
  }
}

.page-footer__title {
  .title-color();
  margin-top: 0;
  margin-bottom: 12px;

  &--contacts {
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 9px;
  }
}

.page-footer__logo img {
  width: 82px;

  @media (min-width: @tablet-width) {
    width: 170px;
  }
}

.page-footer__copyright {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
