.pagination__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }
}

.pagination__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  padding: 8px;

  &--active {
    background-color: transparent;
    font-weight: 700;
    color: @basic-black;
    cursor: default;
  }

  @media (min-width: @tablet-width) {
    &--back,
    &--forward {
      padding: 8px 20px;
    }
  }
}

.pagination__button--active {
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    font-weight: 700;
    color: @basic-black;
  }
}

.pagination__icon {
  margin: auto;
}
