.product-card {
  padding: 40px 20px 20px;
  background-color: @basic-white;
  border-radius: 4px;
}

.product-card__link {
  display: block;
  color: @basic-black;
}

.product-card__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  margin-bottom: 24px;
}

.product-card__name {
  .title-small();
  margin-top: 0;
  margin-bottom: 4px;
}

.product-card__description {
  margin-top: 0;
  margin-bottom: 16px;
}
