.user-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-menu__link {
  color: @basic-black;
  display: block;
  width: 60px;
  height: 60px;
  padding: 22px;
  .nav-link();

  @media (min-width: @tablet-width) {
    height: 80px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: auto;
    gap: 8px;

    &:hover,
    &:focus {
      color: @basic-primary;
    }
  }

  &:active {
    color: @basic-primary;
    background-color: @basic-secondary;
  }
}
